:root {
    --color-font-primary: #0cba4b;
    --color-font-secondary: rgb(13, 155, 89);
    --color-hover: #09a241;
    --background-suave: #e7fbf1;
    --color-font-preta: #0c0d12;
    --color-font-cinza: #4b5563;
    --color-font-cinza-fraco: #dfdfdfcf;
    --color-font-footer: #9a9ea2;

    /* Fontes */

    --color-textos-principais: #111827;
    --color-textos-secundarios: #1f2937;
    --color-bordas: #e5e7eb;
    --backgrounds-claros: #f9fafb;

    /* Tamanho da fonte */

    --tamanho-title-sessao: 3.7rem;
    --tamamho-subtitulos: 2rem;
    --tamanho-textos: 1.6rem;
}

/* Estilos globais */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 100%;
    width: 100%;
    min-height: 100%;
    height: 100%;
    margin: 0 auto 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    margin: auto;
    width: 100%;
}

html {
    margin: auto;
    scroll-behavior: smooth;
    min-width: 100%;
    font-size: 62.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--backgrounds-claros);
    max-width: 1750px;
}

.cabecalho {
    background-color: var(--backgrounds-claros);
    width: 100%;
    max-width: 1750px;
    height: 5em;
    margin: 0;
    text-align: center;
    font-size: 1.4rem;
    position: fixed;
    z-index: 99999;
}

.cabecalho .container-menu {
    margin: auto;
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-menu {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    padding-left: 25px;
    width: 100%;
    height: 100%;
    display: flex;

    align-items: center;
    justify-content: start;
}

.logo-link {
    display: flex;
    width: 50%;
    margin: auto;
}

.logo-link p {
    padding: .5rem;
    font-size: 17px;
    height: 35px;
    font-weight: 600;
}

.nav-bar {
    width: 70%;
    height: 100%;
}

.menu {
    width: 80%;
    height: 100%;
    list-style-type: none;

    display: flex;
    justify-content: end;
    align-items: center;
}

.menu a {
    padding: 1rem 2rem;
    font-size: 14px;
    color: var(--color-textos-principais);
}

.menu a:hover {
    color: var(--color-hover);
}

.hamburguer,
#tg-toggle {
    display: none;
    cursor: pointer;
}


.conteudo-principal {
    min-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}

.banner-pagina {
    height: 35rem;
    max-width: 100%;
    width: 100%;
    background-color: var(--background-suave);
}

.banner-pagina>.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
}

.title-banner {
    max-width: 100%;
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
    text-align: center;
}

.title-banner span {
    font-size: 5rem;
    color: var(--color-textos-principais);
}

.subtitle {
    color: var(--color-font-cinza);
    font-size: 1.8rem;
    margin: 0;
    width: 50%;
    text-align: center;
}

.sessao-nossa-historia {
    width: 100%;
    max-width: 100%;
    height: 50rem;
    margin: 0 auto 10rem;
}

.sessao-nossa-historia>.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: 100%;
}

.container-nossa-historia {
    padding: 5rem 0 0;
    width: 50%;
    height: 100%;
}


.title-sessao {
    width: 100%;
    height: auto;
    padding: 1rem 0;
    text-align: left;
}

.title-sessao span {
    width: 100%;
    height: 100%;
    padding: 0;
    color: var(--color-textos-principais);
    font-size: 3.5rem;
}

.texto-historia {
    color: var(--color-font-cinza);
    font-size: 1.6rem;
    margin: 1.75rem 0 1.75rem;
    line-height: 1.5;
}

div.imagem-nossa-historia {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-nossa-historia img {
    width: 95%;
    height: auto;
    border-radius: 1.1rem;
}

.sessao-nossos-pilares {
    width: 100%;
    max-width: 100%;
    padding-top: 5rem;
    padding-bottom: 10rem;
    height: auto;
    min-height: 18rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2.title-sessao-cards {
    width: 100%;
    height: auto;
    padding: 1.5rem 0 5rem;
    text-align: center;
}


h2.title-sessao-cards span {
    font-size: var(--tamanho-title-sessao);
    color: var(--color-textos-principais);
}

.container-cards {
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    padding: 0 3rem 0;
}

.cards-pilares {
    flex-shrink: 1;
    border-radius: 1rem;
    box-shadow: 1px 6px 18px -10px #7c7c7c;
    width: 25%;
    height: auto;
    min-height: 25rem;
    padding: 4rem 1rem 0rem 2rem;
}

.cards-content {
    width: 100%;
    height: 100%;
    text-align: left;
}

.cards-content h3 {
    font-weight: 500;
    font-size: 2rem;
    color: var(--color-textos-principais);
    margin-bottom: 1rem;
}

.conteudo-cards {
    color: var(--color-font-cinza);
    font-size: 1.5rem;
}

.cards-content svg {
    width: 3.5rem;
    height: 3.5rem;
    margin: 0 0 1rem;
}

/***************
*Sessao Lideres*
***************/

.sessao-nossa-lideranca {
    width: 100%;
    min-height: 45rem;
    padding: 3rem 0 0;
    margin: 0;
}

.cards-lideranca-container {
    padding: 0 10rem 0;
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;

    display: flex;
    flex: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.cards-lideranca {
    flex-shrink: 1;
    margin: 0 auto;
    width: 30%;
    height: auto;
    min-height: 30rem;
    text-align: center;

    justify-items: center;
}

.icone {
    width: auto;
    height: auto;
    background-color: var(--color-font-cinza-fraco);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 3rem;
    margin-bottom: 1.5rem;
}

.nome-lider {
    width: 100%;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    color: var(--color-textos-principais);
}

.funcao-cargo {
    width: 100%;
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
    color: var(--color-hover);
}

.info-lider {
    color: var(--color-font-cinza);
    width: 100%;
    font-size: 1.5rem;
}

/*
*************
Sessão Premios
*************
*/

.sessao-faixa-certificados {
    max-width: 100%;
    width: 100%;
    height: auto;
    min-height: 40rem;
    text-align: center;

    background-color: var(--color-hover);
    color: var(--color-bordas);

    padding: 0;
    margin: 0;
}

.sessao-faixa-certificados>.container>h2.title-faixa-premios {
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 2.8rem;
    font-size: 3.3rem;
    font-weight: 700;
    color: #e8e8e8;
}

.subtitle-sessao-premios {
    font-size: 1.6rem;
    margin: auto;
    width: 45%;
    margin-bottom: 4rem;
}

.faixa-card1 {
    flex-shrink: 1;
    width: 40%;
    display: flex;
    gap: 3rem;
}


.card-premios {
    max-width: 50%;
    width: 50%;
    height: 13rem;
    border-radius: 1rem;
    border: 1px solid #cbcbcbbd;
    background-color: #e1e1e123;
}

.card-premios>.container,
.content-premios {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-premios svg {
    stroke: #e7fbf1;
    width: 50px;
    height: 50px;
    margin-bottom: 1rem;
}

.premios {
    font-size: 1.7rem;
}

/*
*************
Sessão Footer
*************
*/
.footer-site {
    width: 100%;
    height: auto;
    padding: 0 0 5rem;
    margin: auto;
    background-color: var(--color-textos-principais);
    color: var(--color-font-footer);
    text-align: center;
}

.container-footer {
    max-width: 100%;
    width: 80%;
    margin: 0 auto 3rem;
    height: 80%;
    border-bottom: 2px solid var(--color-font-cinza);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column-footer {
    width: 30%;
    height: 100%;
    justify-items: start;
    text-align: left;
    padding: 5rem 0 0;
    display: flex;
    flex-direction: column;
}

.logo-footer a {
    display: flex;
    gap: .5rem;
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
    font-size: 1.7rem;
    color: var(--color-bordas);
}

.subtitle-logo {
    font-size: 1.7rem;
}

.contato {
    width: 100%;
    min-height: 100%;
    height: 100%;
}


.navegacao {
    width: 100%;
    height: 100%;
}

.navegacao h3,
.contato h3 {
    font-weight: 500;
    font-size: var(--tamamho-subtitulos);
    color: var(--color-bordas);
    margin: 0 0 3rem;
}

.paginas-links {
    list-style-type: none;
    display: flex;
    flex-flow: column wrap;
}

.paginas-links li a {
    display: block;
    font-size: 1.7rem;
    padding: .5rem 0;
}

.paginas-links li a:hover {
    background-color: #1f2937;
    color: var(--color-hover);
}

.contato p {
    font-size: 1.7rem;
    margin-bottom: .5rem;
}

.footer-copyright {
    margin: auto;
    font-size: 1.5rem;
    text-align: center;
}

/*****************************************/

/**************
*Media QUERIES*
**************/

@media(max-width:768px) {

    /* .nav-bar {
        /* flex-direction: row-reverse; 
    }*/

    .menu {
        display: none;
    }

    .hamburguer {
        margin: 2.5rem 0 0 auto;
        width: 50px;
        height: 50px;
        display: block;
        cursor: pointer;
    }

    #tg-toggle:checked~.menu {
        width: 100%;
        height: auto;
        padding: 1rem 0 1rem;
        flex-direction: column;
        display: flex;
        gap: 10px;
        position: absolute;
        top: 100.1%;
        right: 0%;
        background-color: var(--backgrounds-claros);
        box-shadow: 2px 0px 10px -10px #000;
    }

    .menu li {
        width: 100%;
    }

    .menu a {
        padding: 1rem 0;
        display: block;
        width: 100%;
    }

    .menu a:hover {
        background-color: var(--color-bordas);
        color: var(--color-font-primary);
    }

    .sessao-nossa-historia {
        height: auto;
    }

    .sessao-nossa-historia>.container {
        flex-direction: column;
        width: 95%;
    }

    .container-nossa-historia {
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 1rem 1rem 0;
    }

    div.imagem-nossa-historia {
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    .imagem-nossa-historia img {
        max-width: 95%;
        width: 95%;
        min-width: 95%;
        height: auto;
    }

    .cards-lideranca-container {
        height: auto;
        padding: 1rem 1rem 2rem;
        flex-direction: column;
    }

    .sessao-faixa-certificados {
        padding: 0 0 5rem;
        margin: 0 0 5rem;
    }

    .sessao-faixa-certificados>.container-cards {
        width: 100%;
        height: auto;
        flex-direction: column;
        padding-bottom: 2rem;
    }


    .faixa-card1 {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .card-premios {
        min-width: 90%;
        width: 95%;
        margin: auto;
    }

    .footer-site {
        height: auto;
        text-align: left;
    }

    .container-footer {
        width: 90%;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .column-footer {
        text-align: left;
        padding: 0;
    }

    .footer-copyright {
        margin: 3rem auto 3rem;
        font-size: 1.5rem;
        text-align: center;
    }
}

@media(max-width: 991px) {
    body {
        max-width: 100%;
        width: 100%;
        min-width: 100%;
    }

    .sessao-nossos-pilares .container-cards {
        flex-direction: column;
    }

    .cards-pilares {
        width: 95%;
    }

    .sessao-nossos-pilares .container-cards {
        padding: 0 3rem 2rem;
        flex-direction: column;
    }
}